layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }
    tab name="twinstakedb" focus=true {
        pane split_direction="vertical" {
            pane split_direction="horizontal"{
                name "work"
                pane {
                    command "nvim"
                    cwd "$HOME/code/twinstake/twinstake-db/"
                }
                pane {
                    cwd "$HOME/code/twinstake/twinstake-db/"
                }
            }
            pane {
                name "db"
                command "docker"
                args "compose" "up"
                cwd "$HOME/code/twinstake/twinstake-db/"
            }
        }
    }
}
